.social-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-container i {
    padding: 0 1vw 4vh 1vw;
    color: rgba(87,242,193,0.5);
    font-size: 1em;
}

.social-container i:hover {
    color: rgba(81,89,108,0.7);;
}