.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.form-label {
    margin: 0px;
    padding: 1rem 0 0px 0;
    font-size: 0.5em;
    background:-webkit-linear-gradient(
        90deg, 
        rgba(87, 242, 193,0.7) 20%,
        rgba(255,255,255,0.0) 10%
    );
}

textarea {
    margin: 1rem 0;
    padding: 0;
    width: 50vw;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    border: rgba(87, 242, 193,0.7) 2.2px solid;
    background-color: rgba(255,255,255,0.0);
    resize: none;
    box-shadow: 3px 3px 10px 0px rgba(120,120,120,0.1);
}

textarea:focus {
    border: rgba(87, 242, 193,0.7) 5px solid;
    outline: rgba(87, 242, 193, 0.7) 0px solid;
    border-radius: 8px;
}

input {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: .3em;
    font-weight: bold;
    color: rgba(15,40,37,0.7);
}

input[type=submit] {
    margin: 0;
    padding: 0.2rem 1rem;
    background: white;
    border: rgba(87, 242, 193,0.7) 2.2px solid;
    border-radius: 8px;
}

input[type=submit]:hover {
    background: rgba(87, 242, 193,0.3);
    color: rgba(15, 40, 37, 1);
}
